.file-editor-window
  .modified-indicator
    flex-shrink: 0
    padding: 2px 6px
    border-radius: 2px
    background-color: var(--primary-opacity)
    color: var(--primary)
    font-size: 12px
    font-weight: 500

  .file-editor-loading
    flex: 1
    display: grid
    place-items: center
    font-size: 14px
    color: var(--subtext)

  .floating-window-body > section
    flex: 1
    min-height: 0
